/* PAGE WRAPPER */
.about-container {
    max-width: 900px;
    margin: 80px auto;
    /* center horizontally + space from top */
    padding: 40px 25px;
    text-align: center;
}

/* HEADING */
.about-heading {
    font-size: 40px;
    font-weight: 700;
    color: #09f3a5;
    /* travel-style violet */
    margin-bottom: 25px;
    position: relative;

}

/* Optional underline effect */
.about-heading::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background: #06eaa2;
    margin: 12px auto 0;
    border-radius: 5px;
}

/* PARAGRAPH */
.about-para {
    font-size: 17px;
    line-height: 1.7;
    color: #555;
    text-align: justify;
    text-indent: 40px;

    margin-top: 20px;
    letter-spacing: 0.3px;
}